.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  margin-top: 50px;
}
.image{
  width: 30%;
}
img{
  width: 100%;
}

.search{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}